<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lifx_sdk_samples"
    android:versionCode="1"
    android:versionName="0.5" >

    <uses-permission 
        android:name="android.permission.INTERNET"/>
    
    <uses-permission 
        android:name="android.permission.ACCESS_NETWORK_STATE"/>
    
    <uses-permission 
	    android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
    
    <uses-permission 
        android:name="android.permission.ACCESS_WIFI_STATE"/>
    
    <uses-permission 
        android:name="android.permission.CHANGE_WIFI_STATE"/>
    
    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.lifx_sdk_samples.LFXSDKSamplesActivity"
            android:label="LIFX SDK Samples" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.example.lifx_sdk_samples.LFXSDKLightPowerActivity"
            android:label="Toggle Power">
        </activity>
        
        <activity
            android:name="com.example.lifx_sdk_samples.LFXSDKLightEditLabelActivity"
            android:label="Edit Label">
        </activity>
        
        <activity
            android:name="com.example.lifx_sdk_samples.LFXSDKLightRandomColorActivity"
            android:label="Random Color">
        </activity>
    </application>

</manifest>
